@font-face {
    font-family: 'Corporate A';
    font-style: normal;
    font-weight: 700;
    src: url(../styles/fonts/Corporate-A-Bold.woff) format(woff),
        url(../styles/fonts/Corporate-A-Bold.woff2) format(woff2),
}