@import 'vars';

body {
    background: linear-gradient(180deg, #070A1B 0%, #2A3170 100%);
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

button {
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.description {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
}

.title {
    font-family: 'Corporate A';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #F402A2;
    text-transform: uppercase;
}

.description {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
}

.btn {
    font-family: 'Corporate A';
    border: 1px solid $hotPink;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: $hotPink;
    padding: 14px 0px;
    text-transform: uppercase;
    transition: 300ms ease;
    &:hover {
        border: 1px solid $aqua;
        color: $aqua;
    }
}

@media (max-width: 991.98px) {
    .title {
        font-size: 25px;
    }
}